:root {
	--accent-color-hue: 236;
	--accent-color-saturation: 100%;
	--disabled-color: #cfcfcf;
	--blue-main: rgb(20, 118, 148)
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.fl {
	display: flex;
}

.button {
	background: var(--blue-main);
	color: #fff;
	padding: 10px 20px;
	border: none;
	font-size: 18px;
	cursor: pointer;
}

.button[disabled] {
	opacity: .7;
	cursor: not-allowed;
}

.button:hover {
	opacity: .7;
}